.cache/
auto-save-list/
eln-cache/
elpaca/
parinfer-rust/
undohist/
games/
transient/

.lsp*
.org-id-locations
bookmarks
config.el
history
projectile-bookmarks.el*
projectile.cache
recentf
config.html

*~
.\#*
\#*\#
